<launch>
    <arg name="c_mode" default="nothing" doc="Choose the calibration mode of the senseglove; nothing, minimum, normalized"/>

    <!-- <node pkg="senseglove_launch" type="startGlove.sh" name="startGlove" args="$(find senseglove_hardware)" output="screen" respawn="false" /> -->

    <node name="senseglove_finger_distance_left" pkg="senseglove_finger_distance" type="senseglove_finger_distance_node" args="0 $(arg c_mode)" output="screen">
	    <remap from="/senseglove/0/lh/finger_distances" to="/lh/senseglove/finger_distances"/>
    </node>
    <!-- <node name="senseglove_finger_distance_right" pkg="senseglove_finger_distance" type="senseglove_finger_distance_node" args="1 $(arg c_mode)" output="screen">
	    <remap from="/senseglove/0/rh/finger_distances" to="/rh/senseglove/finger_distances"/>
    </node> -->
</launch>